<md-dialog aria-label="List dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add a new plant</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()">
                ok
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-padding layout="row" layout-align="space-around center">
            <md-input-container>
                <label>Name</label>
                <md-autocomplete
                        md-selected-item="selectedItem"
                        md-search-text="searchText"
                        md-items="item in querySearch(searchText)"
                        md-item-text="item.display"
                        md-min-length="0"
                        placeholder="Plant Name">
                    <md-item-template>
                        <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
                    </md-item-template>
                    <md-not-found>
                        No states matching "{{searchText}}" were found.
                    </md-not-found>
                </md-autocomplete>
            </md-input-container>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="addPlant()" class="md-primary">Add plant</md-button>
        <md-button ng-click="hide()" class="md-primary">Close Dialog</md-button>
    </md-dialog-actions>
</md-dialog>