<div class="wrapper" ng-init="init()">

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h4>You have {{collections.length}} collection{{collections.length > 1 ? 's' : ''}}.</h4>
        </div>
    </div>

    <div class="list-group">
        <div class="list-group-item" ng-repeat="collection in collections">
            <input type="text" ng-model="collection.name" ng-change="collections.$save(collection)" />
            <button class="btn btn-primary" ui-sref="collections.detail({id: collection.$id})">Enter Collection</button>
            <button class="btn btn-danger" ng-click="removeCollection($event, collection)">Delete Collection</button>
        </div>
    </div>

    <!-- push a new message onto the array -->
    <form ng-submit="addCollection()">
        <input ng-model="newCollectionName" />
        <button class="btn btn-default" type="submit">Add Collection</button>
    </form>

    <hr>

    <div ui-view="detail" ></div>


</div>